<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag(@product.photo) if @product.photo? %>
</p>

<p>
  <strong>PDF:</strong>
  <%= link_to "Click here to read the pdf", pdfjs.minimal_path(file: "#{@product.attachment_file}") if @product.attachment_file? %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
